<!-- event-details-partial.handlebars -->
<script id="event-details" type="text/x-handlebars-template">
    <div class="event-container">
        <div>
            <h3>{{event_name}}</h3>
        </div>
        <div>
            <p>Event Owner: {{event_owner}}</p>
            <p>Start Time: {{start_time}}</p>
            <p>End Time: {{end_time}}</p>
        </div>
    </div>
</script>
