<section class="form-container">
    <h1>Log in to see your events.</h1>
        <div>
            <form id='login-form' class="form">
                <input type="text" id="email-login" name="email" class="email" placeholder="Email" required>
                <br>
                <input type="password" id="password-login" name="password" class="password" placeholder="Password" required>
                
                    <ul class="button-container">
                        <!--<li class="login-tab-active"><a href="#login">Log In</a></li>-->
                        <!--<li class="create-tab"><a href="#signup">Create Account</a></li>-->
                    </ul>                
                </div>
                <button type="submit" id="loginButton" class="menu-button">Login</button>
                <button type="createUser" id="signUpButton" class="menu-button">Don't have an account? Click here to create one.</button>
            </form>
        </div>
        <br>
</section>
<script src="/js/login.js"></script>