<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        {{!-- I have added jquery for testing with the modal popup --}}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        {{!-- I have added bootstrap for testing with the Modal Popup --}}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        {{{body}}}
    </div>
    <!-- Logout Button -->
    <div>
        <form id="logout-form">
            <button type="submit" id="logout-button">Logout</button>
        </form>
    </div>
    <script src="/js/logout.js"></script>
</body>
</html>

