<h2>Your Events</h2>
{{#if events.length}}
    <ul class="events-list">
        {{#each events}}
            <li>{{this.name}} - {{this.date}}</li>
        {{/each}}
    </ul>
{{else}}
    <p>No events found.</p>
{{/if}}
