
<div class="title">
    <div class="logo-container">
        <div class="logo-text">CalShare</div>
        <img class="logo-img" src="/images/Puzzellogo.png" alt="Group of friends meeting for coffee" height='150px'>
    </div>
</div>

<section class="left-section">

    {{> login-details}}
</section>

<section class="right-section">
    <div class="img-container">       
        <img class="blob-img" src="/images/blob.png" alt="Group of friends meeting for coffee">  
        <img class="hero-img" src="/images/groupoffriends.png" alt="Group of friends meeting for coffee">  
    </div>
</section>
