<section class="left-section">
    <div class="title">
            <h1>Log in to CalShare</h1>
    </div>
    {{> login-details}}
</section>
<section class="right-section">
    <p>Welcome!</p>
</section>
